<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Mobile phone support -->
    <title>Demo</title>
    <link rel="stylesheet" type="text/css" href="uikit/dist/css/uikit.min.css" />
    <link rel=stylesheet type="text/css" href="doc/docs.css">
    <link rel="stylesheet" type="text/css" href="styles.css" />
    <link rel="stylesheet" type="text/css" href="lib/codemirror.css">
    <script src="lib/codemirror.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="uikit/dist/js/uikit.min.js"></script>
    <script src="uikit/dist/js/uikit-icons.min.js"></script>
    <script src="lib/codemirror.js"></script>
    <script src="mode/python/python.js"></script>
    <script src="mode/xml/xml.js"></script>
    <script src="mode/javascript/javascript.js"></script>
    <script src="mode/css/css.js"></script>
    <script src="mode/htmlmixed/htmlmixed.js"></script>
    <script src="addon/edit/matchbrackets.js"></script>
</head>
<body style="background-color: white">
    <div class="uk-width uk-text-center">
        <div class="uk-background-secondary uk-light banner">
            <a href="/">
                <img src="logo_transparent.png" class="mainLogo"></img>
            </a>
        </div>
    </div>
    <nav class="uk-navbar-container default-navbar mediumHeightNav" uk-navbar>
        <div class="uk-navbar-left">
            <ul class="uk-navbar-nav">
                <li><a href="/">Save</a></li>
            </ul>
        </div>
        <div class="uk-navbar-right">
            <ul class="uk-navbar-nav">
                <li class="uk-active"><a href="/code">Start coding</a></li>
                <li><a href="#">Item</a></li>
            </ul>
        </div>
    </nav>
    <div class="uk-grid-collapse" uk-grid>
        <div class="uk-width-1-2 codeEditor">
            <section id=demo>
                <textarea id=codeEditor autofocus style="display: none"></textarea>
            </section>
            <input class="uk-input smallHeightArgs" type="text" id="args" placeholder="Command line args">
            <div class="uk-text-center">
                <button id="runArgs" class="runProgramButtons">
                    <span uk-icon="icon: play; ratio: 1.2"></span>
                </button>
                <button class="runProgramButtons">
                    <span uk-icon="icon: code; ratio: 1.2"></span>
                </button>
                <button class="runProgramButtons">
                    <span uk-icon="icon: bolt; ratio: 1.2"></span>
                </button>
                <button class="runProgramButtons">
                    <span uk-icon="icon: info; ratio: 1.2"></span>
                </button>
            </div>
        </div>
        <div class="uk-width-1-2">
            <textarea class="uk-textarea codeOutput" rows="5" id="output" readonly></textarea>
            <span uk-icon="icon: minus-circle; ratio: 1.2" id="nonSpinningCircle"></span>
            <span uk-spinner="ratio: 0.75" id="spinningCircle" class="spinningCircle" style="display: none"></span>
            <div class="uk-text-meta executionInfo">Execution state: 
                <div class="uk-text-meta executionInfo" id="executionState"> 
                </div>
            </div>
        </div>
    </div>
    <script type="module">
        import './keymap/sublime.js';
        import './addon/comment/comment.js';
        var PYTHON_RUNNER = "python ./main.py ";
        var DISPLAY_NONE = "display: none";
        var DISPLAY_INLINE_BLOCK = "display: inline-block";
        var editor = CodeMirror.fromTextArea(document.getElementById("codeEditor"), 
        {
            lineNumbers: true,
            mode: "text/html",
            matchBrackets: true,
            indentUnit: 4,
            smartIndent: true,
            lineWrapping: true,
            indentWithTabs: true,
            keyMap: "sublime",
            mode: {
                name: "python",
                version: 3,
                singleLineStringErrors: false
            },
        });

        $("#runArgs").click(function() {
            var args = document.getElementById("args").value;
            document.getElementById("runArgs").disabled = true;
            document.getElementById("output").value = PYTHON_RUNNER + args + "\n";
            document.getElementById("nonSpinningCircle").style = DISPLAY_NONE;
            document.getElementById("spinningCircle").style = DISPLAY_INLINE_BLOCK;
            $.ajax({
                type: "POST",
                url: "/run",
                data: {
                    "code": editor.getValue(),
                    "args": document.getElementById("args").value
                },
                dataType: "json",
                success: function (result) {
                    var contents = result.contents;
                    var outputType = result.outputType;
                    document.getElementById("output").value += contents;

                    var executionState = document.getElementById("executionState");
                    if (outputType === "stderr") {
                        executionState.innerHTML = "FAILURE";
                        executionState.style = "color: red";
                    } else {
                        executionState.innerHTML = "SUCCESS";
                        executionState.style = "color: green";
                    }
                    document.getElementById("runArgs").disabled = false;
                    document.getElementById("nonSpinningCircle").style = DISPLAY_INLINE_BLOCK;
                    document.getElementById("spinningCircle").style = DISPLAY_NONE;
                }
            });
        });
    </script>
</body>
</html>