<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Demo</title>
    <link rel="stylesheet" type="text/css" href="uikit/dist/css/uikit.min.css" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="uikit/dist/js/uikit.min.js"></script>
    <script src="uikit/dist/js/uikit-icons.min.js"></script>
    <link rel="stylesheet" type="text/css" href="styles.css" />
</head>
<body>
    <div class="uk-width uk-text-center">
        <div class="banner uk-background-secondary uk-light">
            <p class="uk-h4">
                <span class="logoIcon" uk-icon="xing"></span>
                Codelive
            </p>
        </div>
    </div>
    <nav class="uk-navbar-container default-navbar mediumHeightNav" uk-navbar>
        <div class="uk-navbar-right">
            <ul class="uk-navbar-nav">
                <li class="uk-active"><a href="/code">Start coding</a></li>
                <li><a href="#">Item</a></li>
            </ul>
        </div>
    </nav>
    <div class="uk-grid uk-text-center">
        <div class="uk-width-1-3">
            <p>Step 1: Register for account</p>
            <img class="homePageIcon" data-src="travel/png/011-planning.png" width="" height="" alt="" uk-img>
        </div>
        <div class="uk-width-1-3">
            <p>Step 2: Talk shit with classmates</p>
            <img class="homePageIcon" data-src="travel/png/009-navigation.png" width="" height="" alt="" uk-img>
        </div>
        <div class="uk-width-1-3">
            <p>Step 3: Finish homework</p>
            <img class="homePageIcon" data-src="travel/png/025-bicycle.png" uk-img>
        </div>
        <div class="uk-width-1-3">
            <p>Learn to code</p>
        </div>
        <div class="uk-width-1-3">
            <p>Learn to code</p>
        </div>
        <div class="uk-width-1-3">
            <p>Learn to code</p>
        </div>
    </div>
</body>
</html>