<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Mobile phone support -->
    <title>Demo</title>
    <link rel="stylesheet" type="text/css" href="uikit/dist/css/uikit.min.css" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="uikit/dist/js/uikit.min.js"></script>
    <script src="uikit/dist/js/uikit-icons.min.js"></script>
    <link rel="stylesheet" type="text/css" href="styles.css" />
</head>
<body>
    <div class="uk-width uk-text-center">
        <div class="banner uk-background-secondary uk-light">
            <a href="/">
                <img src="logo_transparent.png" class="mainLogo"></img>
            </a>
        </div>
    </div>
    <nav class="uk-navbar-container default-navbar mediumHeightNav" uk-navbar>
        <div class="uk-navbar-right">
            <ul class="uk-navbar-nav">
                <li><a href="/code">Start coding</a></li>
                <% if (user != null) { %>
                    <li><a href="/projects">Saved code</a></li>
                    <li><a href="/logout">Log out</a></li>
                <% } else { %>
                    <li><a href="/register">Register</a></li>
                    <li><a href="/login">Login</a></li>
                <% } %>
            </ul>
        </div>
    </nav>
    <div class="uk-grid uk-text-center">
        <div class="uk-width-1-1">
            Welcome to Codelive, an educational platform for programming.
        </div>
    </div>
    <hr class="uk-divider-icon">
    <div class="uk-grid uk-text-center">
        <div class="uk-width-1-1">
            <p>TODO</p>
        </div>
    </div>
</body>
</html>