.banner {
    height: 50px;
    /*background-color: black;*/
    overflow: hidden;
}

.body {
    background-color: white;
}

.logoIcon {
    color: white;
}

.default-navbar {
    height: 50px;
}

.homePageIcon {
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 75px;
    width: 75px;
}

.centredImage {
    display: block;
    margin-left: 15px;
}

.CodeMirror { 
    border: 1px solid #ddd; 
}
/*.CodeMirror-scroll { max-height: 200px; }*/

.codeFileName {
    border: none;
    font-style: italic;
    outline-width: 0;
    margin-left: -5px;
}

.CodeMirror pre { 
    padding-left: 7px; 
    line-height: 1.25; 
}

.codeOutputStatus {
    padding-top: 0px;
    height: 84.5vh;
    font-size: 14px;
    /*display: block;*/
}

.codeStdout {
    height: 100%;
}

.languageSelect {
    border: none;
    display: inline-block;
}

.languageSelectContainer {
    float: right;
}

.codeNavigationDropdown {
    margin-left: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    left: 0;
    position: absolute;
}

.uk-textarea {
    background-color: #282C34;
    color: #FFFFFF;
}

.executionInfo {
    display: inline;
    font-size: 16px;
}

.exerciseButton {
    /*margin-top: 10px;*/
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
    /*margin-bottom: 0;*/
    display: block;
}

.runProgramButtons {
    background-color: white;
    border: none;
}

.smallHeightArgs {
    height: 4vh;
}

.mediumHeightNav {
    height: 6vh;
}

.mainLogo {
    height: 60px;
    width: 60px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.spinningCircle {
    padding-right: 3px;
}

.loginLogo {
    height: 70%;
    width: 70%;
}

.loginForm {
    margin-top: -25px;
}

.loginCheckbox {
    margin-right: 5px;
}

.loginMainText {
    font-size: 22px;
}

.loginRegisterHome {
    top: 0;
}

.registerMainText {
    font-size: 14px;
    text-align: center;
    font-style: italic;
}

.registerLogo {
    height: 50%;
    width: 50%;
}

/* Tooltip container */
.tooltip {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black; /* If you want dots under the hoverable text */
}

/* Tooltip text */
.tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;
 
    /* Position the tooltip text - see examples below! */
    position: absolute;
    z-index: 1;
}

/* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .tooltiptext {
    visibility: visible;
    font-size: 12px;
    width: 150px;
    bottom: 100%;
    left: 60%; 
    padding-left: 5px;
    padding-right: 5px;
    margin-left: -60px; /* Use half of the width (120/2 = 60), to center the tooltip */
}

.registrationError {
    text-align: center;
    color: red;
    font-style: italic;
    margin-bottom: 5px;
}